@import "../Shared/index.scss";
.details {
  background-image: linear-gradient(
      to bottom,
      rgba(149, 166, 177, 0.9) 0%,
      rgba(242, 242, 247, 0.3) 30%,
      rgba(242, 242, 247, 0.808) 100%
    ),
    url("./../../static/images/clouds.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 90vh;
  background-attachment: fixed;
  position: static;
  &__options {
    width: 100%;
  }
  &__plane {
    width: 35%;
    margin: 20px;
  }
  &__label {
    color: $base-color;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
.list {
  width: 100%;
}
.bag {
  width: 25%;
}
.options {
  display: flex;
  flex-flow: column wrap;
  &__row {
    display: flex;
    flex-flow: row wrap;
  }
  &__label {
    color: $base-color;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
.luggage,
.cost {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &__icon {
    width: 29%;
    height: auto;
    padding: 22px;
    cursor: pointer;
  }
  &__label {
    color: $base-color;
    font-size: 18px;
    font-weight: bold;
  }
}
.people {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  .details__label {
    width: 100%;
  }
  &__input {
    width: 40px;
    text-align: center;
    background-color: rgba($base-color, 0.2);
    outline: none;
    border-radius: 6px;
  }
  .button {
    height: 30%;
  }
  font-size: 15px;
}
@media (min-width: $breakpoint-small-screen){ 
  
 .luggage,.cost{
   &__label{
     font-size:22px;
   }
 }
  }
  @media (min-width: $breakpoint-tablet)and (max-width:$breakpoint-small-screen){
    .details{
      background-image: none;
      background: linear-gradient(
        rgba(48, 73, 210, 0.9) 0%, rgba(11, 11, 154, 0.3) 30%, rgba(103, 145, 245, 0.808) 100%);
    ;
    }
    
    .luggage,.cost{
      &__label{
        font-size:22px;
      }
      &__icon{
        padding:18px;
        width:32%;
      }
    }
    .details{
      &__plane{
        margin:7px;
      }
    }
    }
    @media (min-width: $breakpoint-phone)and (max-width:$breakpoint-tablet){
      .details{
        background-image: none;
        background: linear-gradient(
        to bottom,
        rgba(48, 73, 210, 0.9) 0%, rgba(11, 11, 154, 0.3) 30%, rgba(103, 145, 245, 0.808) 100%);
      ;}
      .luggage,.cost{
        ul{
          margin-left: 0px;
          padding-left:0px;
        }
        flex-flow:column;
        &__label{
          font-size:18px;
          width:100%;
        }
        &__icon{
          padding:0px;
          width:15%;
          height:15%;
        }
      }
      .options__row{
        margin-left:30px;
        text-align: center;
      }
      .bag{
        width:100%;
        text-align: center;
                }
      .block{
        width:100%;
        text-align: center;

                }
    .cost{
      flex-flow:column;
    }
      .details{
        &__plane{
          width:38.5%;
          margin:5px;
        }
      }
      }
      @media (max-width:$breakpoint-phone){
        .details{

          background-image: none;
          background: linear-gradient(
          to bottom,
          rgba(48, 73, 210, 0.9) 0%, rgba(11, 11, 154, 0.3) 30%, rgba(103, 145, 245, 0.808) 100%);
        ;}
        .options{
          &__row{
            margin-left:10px;
            text-align: center;
          }
          &__label{
            display:block;
            font-size:21px;
            text-align:left;
          }}
          .people{
            justify-content:flex-start;
          }
        .luggage,.cost{
          ul{
            margin-left: 0px;
            padding-left:0px;
          }
          width:55%;
          flex-flow:column;
          &__label{      
            font-size:16px;
            width:100%;
          }
          &__icon{
            padding:0px;
            width:15%;
            height:15%;
          }
        }
        .bag{
width:100%;
        }
        .details{
          &__plane{
            width:63%;
            margin:3px;
          }
        }
        .row{
          height:3.3%;
        }
        .business{
          width: 31.5%;
        }
        .economy{
          width:26.5%;
        }
        }  
  
