@import "../Shared/index.scss";
.details {
  background-image: linear-gradient(
      to bottom,
      rgba(149, 166, 177, 0.9) 0%,
      rgba(242, 242, 247, 0.3) 30%,
      rgba(242, 242, 247, 0.808) 100%
    ),
    url("./../../static/images/clouds.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 90vh;
  background-attachment: fixed;
  position: static;
  &__options {
    width: 100%;
  }
  &__plane {
    width: 35%;
    margin: 20px;
  }
  &__label {
    color: $base-color;
    font-size: $desktop-small;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
.list {
  width: 100%;
}
.bag {
  width: 25%;
}
.options {
  display: flex;
  flex-flow: column wrap;
  &__row {
    display: flex;
    flex-flow: row wrap;
  }
  &__label {
    color: $base-color;
    font-size: $desktop-small;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  &__timer {
    position: absolute;
    top: 10%;
    right: 1%;
    font-size: $desktop-small;
  }
}
.luggage,
.cost {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  &__icon {
    width: 29%;
    height: auto;
    padding: 22px;
    cursor: pointer;
  }
  &__label {
    color: $base-color;
  }
}
.cost__label {
  margin-top: 0px;
}
.people {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  .details__label {
    width: 100%;
  }
  &__input {
    width: 40px;
    text-align: center;
    background-color: rgba($base-color, 0.2);
    outline: none;
    border-radius: 6px;
  }
  .button {
    height: 30%;
  }
  font-size: 15px;
}
@media (min-width: $breakpoint-small-screen) {
  .luggage,
  .cost {
    &__label {
      font-size: $tablet-medium;
    }
  }
  .options {
    &__timer {
      font-size: $tablet-small;
    }
  }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-small-screen) {
  .luggage {
    margin-top: 30px;
  }
  .luggage,
  .cost {
    &__label {
      font-size: $tablet-small;
    }
    &__icon {
      padding: 18px;
      width: 32%;
    }
  }
  .details,
  .options {
    &__label {
      font-size: $tablet-medium;
      &__timer {
        font-size: $tablet-small;
      }
    }
  }
  .details {
    &__plane {
      margin: 7px;
      margin-top: 30px;
    }
  }
}
@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
  .details {
    background-image: none;
    background: linear-gradient(
      to bottom,
      rgba(175, 181, 165, 0.78) 0%,
      rgba(11, 11, 154, 0.3) 30%,
      rgba(189, 196, 212, 0.808) 100%
    );
  }
  .luggage {
    margin-top: 30px;
  }
  .details,
  .options {
    &__timer {
      font-size: $tablet-small;
    }
    &__label {
      font-size: $tablet-small;
    }
  }
  .luggage,
  .cost {
    ul {
      margin-left: 0px;
      padding-left: 0px;
    }
    flex-flow: column;
    &__label {
      font-size: 18px;
      width: 100%;
    }
    &__icon {
      padding: 0px;
      width: 15%;
      height: 15%;
    }
  }
  .options__row {
    margin-left: 30px;
    text-align: center;
  }
  .bag {
    width: 100%;
    text-align: center;
  }
  .block {
    width: 100%;
    text-align: center;
  }
  .cost {
    flex-flow: column;
  }
  .details {
    &__plane {
      width: 38.5%;
      margin: 5px;
      margin-top: 30px;
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .details {
    background-image: none;
    background: linear-gradient(
      to bottom,
      rgba(175, 181, 165, 0.78) 0%,
      rgba(11, 11, 154, 0.3) 30%,
      rgba(189, 196, 212, 0.808) 100%
    );
  }

  .details,
  .options {
    &__label {
      font-size: $phone-small;
    }
    &__timer {
      font-size: $se-medium;
    }
  }
  .options {
    &__row {
      margin-left: 10px;
      text-align: center;
    }
    &__label {
      display: block;
      text-align: left;
      width: 130%;
    }
  }
  .people {
    justify-content: flex-start;
  }
  .luggage {
    margin-top: 20px;
  }
  .luggage,
  .cost {
    ul {
      margin-left: 0px;
      padding-left: 0px;
    }
    width: 55%;
    flex-flow: column;
    &__label {
      font-size: $se-medium;
      width: 100%;
    }
    &__icon {
      padding: 0px;
      width: 35%;
      height: 35%;
    }
  }
  .bag {
    width: 100%;
  }
  .details {
    &__plane {
      width: 63%;
      margin: 3px;
      margin-top: 20px;
    }
  }
  .row {
    height: 3.3%;
  }
  .business {
    width: 31%;
  }
  .economy {
    width: 26%;
  }
}
