.button {
  align-self: center;
  width: auto;
  background-color: rgba(#9c98bd, 0.3);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin: 5px;
}

.search-flights-btn {
  font-size: 22px;
}
