@import "./../Shared/index.scss";
.flight {
  color: $base-color;
  cursor: pointer;
  &__item {
    font-size: $tablet-medium;
    margin-left: 5%;
    margin-right: 15%;
    margin-bottom: 20px;
    background-color: rgba($font-color, 0.7);
    border-radius: 8px;
    height: auto;
    width: auto;
    padding: 12px;
    cursor: pointer;
    &:hover {
      box-shadow: 7px 7px 7px rgb(79, 80, 37);
    }
    &--selected {
      background-color: rgba($red-color, 0.7);
      font-size: $desktop-small;
      margin-left: 5%;
      margin-right: 15%;
      margin-bottom: 20px;
      border-radius: 8px;
      height: auto;
      padding: 12px;
    }
  }
}
.server-msg {
  font-size: $desktop-small;
  color: $red-color;
  text-align: center;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: row;
  position: initial;
  justify-content: space-between;
  &__column {
    width: 43%;
  }
}
.items-list {
  padding: 0px;
  list-style-type: none;
  &__label {
    font-size: $desktop-small;
    margin-left: 5%;
  }
}
.order {
  width: 60%;
  .flight__item {
    cursor: initial;
    &:hover {
      box-shadow: none;
    }
  }
}
.details-btn {
  outline: none;
  cursor: pointer;
  align-self: flex-start;
  border-radius: 6px;
  background-color: Transparent;
  font-size: $tablet-medium;
  margin-left: 60px;
  &:disabled {
    color: grey;
  }
  &:hover {
    box-shadow: 7px 7px 7px rgb(36, 34, 34);
  }
}
@media (max-width: $breakpoint-small-screen) {
  .order {
    width: 95%;
  }
}
@media (max-width: $breakpoint-tablet) {
  .order {
    width: 98%;
  }
  .details-btn {
    font-size: $tablet-small;
  }
  .flight__item {
    font-size: $tablet-small;
  }
  .items-list {
    margin-left: 3px;
    &__label {
      font-size: $tablet-medium;
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .order {
    width: 100%;
  }
  .details-btn {
    font-size: $phone-small;
  }
  .flight__item {
    font-size: $phone-small;
  }
  .items-list {
    margin-left: 2px;
    &__label {
      font-size: $phone-medium;
    }
  }
}
