@import "./../Shared/index.scss";
.flight {
  color: $base-color;
  &__item {
    font-size: 25px;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 20px;
    height: 55px;
    background-color: rgba($font-color, 0.7);
    border-radius: 8px;
  }
}
.server-msg {
  font-size: 25px;
  color: $red-color;
  text-align: center;
  font-weight: bold;
}
.company {
  text-align: center;
}
