$base-color: #0c0663;
$font-color: rgb(224, 228, 23);
$form-color: rgba(50, 75, 97, 0.4);
$wheat-color: wheat;
$red-color: rgb(180, 55, 55);
$green-color: rgb(106, 153, 87);
$blue-color: rgba(35, 35, 153, 0.425);
$dark-color: #03011f;
$font: "Nanum Gothic", sans-serif;
$breakpoint-tablet: 768px;
$breakpoint-small-screen: 1220px;
$breakpoint-phone: 560px;
$breakpoint-se: 330px;
$desktop-large: 50px;
$desktop-medium: 30px;
$desktop-small: 25px;
$tablet-large: 29px;
$tablet-medium: 23px;
$tablet-small: 20px;
$phone-large: 27px;
$phone-medium: 20px;
$phone-small: 18px;
$se-large: 20px;
$se-medium: 15px;
$se-small: 13px;
