@import "../Shared/index.scss";

.plane {
  height: 60%;
  width: 80%;
  margin: auto;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 3px;
  width: 40%;
}

.seat {
  display: flex;
  justify-content: center;
  background-color: $wheat-color;
  color: rgb(97, 34, 116);
  width: 22%;
  height: 60%;
  border-radius: 4px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
}
.business {
  background-color: rgb(250, 233, 78);
  width: 27%;
  height: 78%;
  margin: 4px;
  border-radius: 5px;
}
