@import "../Shared/index.scss";

.plane {
  height: 150vh;
  width: 90%;
  margin: auto;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 22px;
  font-weight: bold;
  justify-content: space-around;
  margin: 3px;
  width: 40%;
}

.seat {
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 3px grey;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  &__number {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
  }
}
.business {
  margin: 6px;
  background-color: $font-color;
  width: 27%;
  padding-top: 6px;
  padding-bottom: 2px;
  margin: 4px;
  border-radius: 5px;
  &--selected {
    background-color: $base-color;
  }
}
.economy {
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #4398d1;
  width: 22%;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 4px;
  &--selected {
    background-color: $base-color;
  }
}
.booked {
  cursor: default;
  background-color: grey;
  box-shadow: 3px 3px 3px rgb(90, 82, 82);
}
@media (min-width: $breakpoint-small-screen){ 
.row{
  height:4%;
}
.business{
  width: 29%;
}
.economy{
  width:24%;
}
}
@media (min-width: $breakpoint-tablet)and (max-width:$breakpoint-small-screen){
  .row{
    height:3.5%;
  }
  .business{
    width: 32%;
    margin:6px;
  }
  .economy{
    width:26%;
    height:45%;
    margin:4px;
  }
  }
  @media (min-width: $breakpoint-phone)and (max-width:$breakpoint-tablet){
    .row{
      height:3.35%;
    }
    .business{
      width: 32;
      margin:5px;
    }
    .economy{
      width:30%;
      height:35%;
      margin:2px;
    }
    }
    @media (max-width:$breakpoint-phone){
      .row{
        height:3.3%;
      }
      .business{
        width: 31.5%;
      }
      .economy{
        width:26.5%;
        height:38%;
      }
      }
      @media (max-width:$breakpoint-se){
        .row{
          height:3.3%;
        }
        .business{
          width: 31.5%;
        }
        .economy{
          width:26.5%;
          height:33%;
        }
        }

