@import "../Shared/index.scss";
.search-form {
  z-index: 2;
  min-height: 70vh;
  display: flex;
  flex-flow: column wrap;
  justify-items: stretch;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: $form-color;
  color: $base-color;
  margin-top: 5%;
  width: 80%;
  border-radius: 15px;

  &__label {
    font-size: $desktop-medium;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__select {
    outline: none;
    font-size: $tablet-small;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(#f7f3f3, 0.75);
  }
  &__field {
    display: flex;
    position: relative;
    flex-direction: row;
    font-size: $tablet-small;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-start;
    padding: 20px;
  }

  .error {
    font-size: $tablet-small;
    color: $red-color;
    position: absolute;
    bottom: -30px;
  }
  .server-error {
    font-size: $desktop-small;
    color: $red-color;
    position: absolute;
    left: 34%;
    top: 110%;
  }
  .radio-container {
    margin-left: 0px;
    display: block;
    position: relative;
    &__radio {
      display: none;
    }
    &__circle {
      position: absolute;
      top: 15%;
      left: 100%;
      margin-left: 10px;
      height: 23px;
      width: 23px;
      background-color: #eee;
      border-radius: 50%;
    }
  }
  .radio-container__circle::after {
    content: "";
    position: absolute;
    top: 29%;
    left: 25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eee;
    display: none;
  }

  .radio-container__radio:hover ~ .radio-container__circle {
    background-color: rgb(99, 94, 94);
  }

  .radio-container__radio:checked ~ .radio-container__circle {
    background-color: $font-color;
    &::after {
      display: block;
    }
  }
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 23%;
  label {
    font-size: $desktop-small;
  }
  position: relative;
  &--vertical {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 32%;
    label {
      justify-self: flex-end;
    }
  }
}
.picker {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 32%;
}

.react-datepicker {
  &-wrapper {
    width: 100%;
  }

  &__input-container {
    width: 100%;
    input {
      width: 98%;
      height: 33px;
      font-family: $font;
      font-size: $tablet-small;
      outline: none;
      background-color: rgba(#f7f3f3, 0.75);
      border: none;
      border-radius: 5px;
      padding-left: 5px;
    }
  }
}
.react-datepicker-ignore-onclickoutside {
  font-family: $font;
  font-size: $tablet-small;
  border-radius: 5px;
  outline: none;
}
.shift-btn {
  height: 58px;
  width: 58px;
}

.flight-dates {
  width: 32%;
}

.there-and-back {
  justify-content: flex-start;
}
@media (max-width: $breakpoint-small-screen) and (min-width: $breakpoint-tablet) {
  .search-form {
    min-height: 55vh;
    width: auto;
    margin: 8%;
    &__label {
      font-size: $tablet-medium;
    }
  }

  .input-container--vertical {
    width: 35%;
  }
  .picker {
    width: 35%;
  }
  .input-container {
    label {
      font-size: $tablet-small;
    }
    min-width: 20%;
  }
  .server-error {
    left: 25%;
  }
}
@media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-phone) {
  .input-container {
    box-sizing: border-box;
    width: 55%;
    label {
      font-size: $tablet-medium;
    }
  }
  .input-container--vertical {
    width: 90%;
  }
  .picker {
    padding-right: 12px;
    padding-top: 20px;
    width: 90%;
  }
  .search-form {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    padding-bottom: 15px;
    &__field {
      flex-direction: column;
      padding: 15px;
      padding-top: 0px;
      box-sizing: border-box;
      height: 10%;
    }
    min-height: 72vh;
    &__label {
      font-size: $tablet-medium;
    }
    .server-error {
      font-size: $tablet-small;
      color: $red-color;
      position: absolute;
      left: 20%;
      top: 90%;
    }
    .error {
      font-size: $tablet-small;
      width: 110%;
      color: $red-color;
      position: absolute;
      bottom: -25px;
    }
  }
  .there-and-back {
    flex-direction: row;
    padding-left: 35px;
    padding-bottom: 0px;
  }
  .shift-btn {
    width: 49px;
    height: 49px;
  }
  .search-flights-btn {
    margin: 15px auto;
    width: 22%;
    font-size: $tablet-medium;
  }
}
@media (max-width: $breakpoint-phone) and (min-width: $breakpoint-se) {
  .input-container {
    box-sizing: border-box;
    width: 55%;
    label {
      font-size: $phone-medium;
    }
  }
  .input-container--vertical {
    width: 85%;
  }

  .shift-btn {
    width: 45px;
    height: 45px;
  }
  .search-form {
    width: 90%;
    margin-top: 10%;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-45%, -50%);
    padding-bottom: 13px;
    min-height: 63vh;

    .radio-container {
      &__circe {
        top: 25%;
        left: 140%;
      }
    }
    &__field {
      padding: 10px;
      flex-direction: column;
    }

    &__label {
      font-size: $phone-small;
    }
    .server-error {
      font-size: $phone-small;
      color: $red-color;
      position: absolute;
      left: 15%;
      top: 89%;
    }
    .error {
      font-size: $phone-small;
      width: 110%;
      color: $red-color;
      position: absolute;
      bottom: -25px;
    }
  }
  .there-and-back {
    flex-direction: row;
    padding-left: 17px;
  }
  .search-flights-btn {
    width: 27%;
    font-size: $phone-small;
    margin: 20px auto;
  }
  .picker {
    padding-right: 12px;
    padding-top: 20px;
    width: 85%;
  }
}
@media (max-width: $breakpoint-se) {
  .search-form {
    width: 95%;
    min-height: 75vh;
    &__field {
      flex-direction: column;
    }
    &__label {
      font-size: $se-large;
    }
    .server-error {
      font-size: $phone-small;
      color: $red-color;
      position: absolute;
      left: 15%;
      top: 88%;
    }
    .error {
      font-size: $phone-small;
      color: $red-color;
      position: absolute;
      bottom: -23px;
    }

    .radio-container {
      &__circe {
        top: 25%;
        left: 110%;
      }
    }
  }
  .picker {
    width: 90%;
    padding-top: 12px;
  }
  .input-container {
    label {
      font-size: $se-large;
    }
    width: 55%;
    &--vertical {
      width: 90%;
    }
  }
  .there-and-back {
    flex-direction: row;
    justify-content: flex-start;
  }
  .search-flights-btn {
    width: 50%;
    font-size: $phone-small;
    margin: 15px auto;
  }
}
