@import "../Shared/index.scss";
.search-form {
  min-height: 70vh;
  display: flex;
  flex-flow: column wrap;
  justify-items: stretch;
  justify-content: space-evenly;
  background-color: $form-color;
  color: $base-color;
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
  border-radius: 15px;

  &__label {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__select {
    outline: none;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(#f7f3f3, 0.75);
  }
  &__field {
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    justify-content: space-between;
    justify-self: flex-start;
    padding: 20px;
  }
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  label {
    font-size: 26px;
  }
  position: relative;
  &--vertical {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 32%;
  }
}
.radio {
  height: 15px;
  width: 15px;
}
.react-datepicker {
  &-wrapper {
    width: 100%;
  }
  width: 100%;

  &__input-container {
    input {
      height: 33px;
      font-family: $font;
      font-size: 20px;
      outline: none;
      width: 123%;
      background-color: rgba(#f7f3f3, 0.75);
      border: none;
      border-radius: 5px;
    }
  }
}
.react-datepicker-ignore-onclickoutside {
  font-family: $font;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}

.error {
  font-size: 21px;
  color: $red-color;
  position: absolute;
  bottom: -30px;
}
.shift-btn {
  height: 58px;
  width: 58px;
}

.flight-dates {
  width: 32%;
}

.there-and-back {
  justify-content: flex-start;
}
