.header {
    font-style: italic;
    font-size: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.navigation-area,
.login-button-area {
    font-size: 45px;
}

.main-page {
    margin: 15px;
    color: white;
}

.personal-page,
.login-button {
    color: white;
}

.selected {
    color: rgb(138, 208, 236)
}