@import "../Shared/index.scss";
$font-color: wheat;
.header {
  font-style: italic;
  font-size: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  &__nav,
  &__login {
    font-size: 45px;
  }
  &__title {
    text-decoration: none;
    color: $font-color;
  }
}

.nav-btn {
  background-color: $base-color;
  border: none;
  font-style: italic;
  font-size: 45px;
  margin: 15px;
  color: $font-color;
  outline: none;
}

.selected {
  color: rgb(46, 27, 90);
}
