@import "../Shared/index.scss";
.login,
.register {
  background-color: $form-color;
  border-radius: 10px;
  height: auto;
  width: 35%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 25px;

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.sign-up {
  align-self: flex-end;
}

.input-field {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  padding-left: 6px;
  outline: none;
}

.form-label {
  align-self: center;
  font-size: 20px;
}
