@import "./components/Shared/index.scss";
.app {
  color: $base-color;
  min-height: 100vh;
  background-image: url("./static/images/clouds.jpg");
  background-attachment: fixed;
  position: static;
  font-family: "Nanum Gothic", sans-serif;
  button,
  a,
  input,
  select {
    font-family: "Nanum Gothic", sans-serif;
  }
}
@media (max-width: $breakpoint-tablet) {
  .app {
    min-height: 120vh;
    background: linear-gradient(rgba(48, 73, 210, 0.9) 0%, rgba(11, 11, 154, 0.3) 30%, rgba(103, 145, 245, 0.808) 100%);
  }
}
